.card-mobile {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  min-width: "200px";
  max-width: "350px";
  padding: 0.8rem;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  display: block;
}

.image-ronde {
  border-radius: 0.3;
}

.card-footer {
  display: flex;
  margin-top: 0.25rem;
  padding: 0.75rem;
}

.card-langage {
  font-size: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.75rem;
}

.icon-lg-container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Si les icônes débordent de la largeur */
  justify-content: flex-start; /* Alignement à gauche des icônes */
}

.icon-lg {
  font-size: 2rem;
  margin-right: 5px; /* Espacement entre les icônes */
}

.card-desc {
  margin-top: 1rem;
  text-align: justify;
}

.card-date {
  margin-top: 0.25rem;
  color: grey;
  color: #ccc;
  font-size: 1.5rem;
}

.card-lien {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.card-content {
  padding: 0.3rem;
  flex-grow: 1;
}

.h3 {
  font-size: 2rem;
}

@media (max-width: 578px) {
  .titre-projet {
    font-size: 2rem;
  }
}
