/* style.css */
body {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #f8deff;
  text-align: center;
  background-image: url("../assets/logo_breeds_cats_dogs_quiz.jpg");
  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.h1 {
  color: #340043;
  text-shadow: -1px -1px 0 #f8deff,
    /* Ombre supérieure gauche (ombre foncée) */ 1.5px -1.5px 0 #f8deff,
    /* Ombre supérieure droite (ombre foncée) */ -1.5px 1.5px 0 #f8deff,
    /* Ombre inférieure gauche (ombre foncée) */ 1.5px 1.5px 0 #f8deff; /* Ombre inférieure droite (ombre foncée) */
  /* Réglez les valeurs des ombres pour l'espacement et l'épaisseur souhaités */

  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0 10px;
  text-align: center;
  text-transform: uppercase;
}

button {
  color: #f8deff;
  text-shadow: -1px -1px 0 #340043,
    /* Ombre supérieure gauche (ombre foncée) */ 1.5px -1.5px 0 #340043,
    /* Ombre supérieure droite (ombre foncée) */ -1.5px 1.5px 0 #340043,
    /* Ombre inférieure gauche (ombre foncée) */ 1.5px 1.5px 0 #340043; /* Ombre inférieure droite (ombre foncée) */
  /* Réglez les valeurs des ombres pour l'espacement et l'épaisseur souhaités */

  border: 15px solid #340043;
  border-radius: 50%;
  padding: 8px;
  transition: ease 1s;
  font-size: 30px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin-top: 70px;
  font-weight: bold;
}

button:hover {
  color: #340043;
  background-color: #f8deff;
  border: 15px solid #340043;
  text-shadow: none;
}

.apprendre {
  margin-right: 50px;
}
.jouer {
  margin-left: 50px;
}

.page-apprendre {
  display: none;
}
.page-jouer {
  display: none;
}

.colonne {
  width: 50%;
  height: 100%;
  float: left;
}
