/* style.css */
body {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #f8deff;
  text-align: center;
}

.h1 {
  color: #340043;
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem 0 2rem;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.cote-gauche {
  order: 1px solid black;
  max-width: 200px;
  max-height: 50px;
  margin: 10px auto 0;
  align-items: center;
  display: flex;
}

.cote-gauche img {
  height: 100%;
  width: 100%;
}
.cote-droite {
  display: flex;
  padding: 3rem;
  align-items: center;
}

.page-jeu {
  display: flex; /* Utilisation de flexbox pour aligner les éléments côte à côte */
  align-items: center; /* Centre verticalement les enfants */
}

#cards {
  flex: 1; /*autant de place que cote gauche*/
}
