/* style.css */
body {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #f8deff;
  text-align: center;
}

.h1 {
  color: #340043;
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem 0 2rem;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.cote-gauche {
  order: 1px solid black;
  max-width: 200px;
  max-height: 50px;
  margin: 10px auto 0;
  align-items: center;
  display: flex;
}

.cote-gauche img {
  height: 100%;
  width: 100%;
}
.cote-droite {
  display: flex;
  padding: 3rem;
  align-items: center;
}

.page-jeu {
  display: flex; /* Utilisation de flexbox pour aligner les éléments côte à côte */
  align-items: center; /* Centre verticalement les enfants */
}

#cards {
  flex: 1; /*autant de place que cote gauche*/
}

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1300px;
  width: 100%;
  margin: 10px auto;
}

.card {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #340043;
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  transition: transform 400ms ease;
  position: relative;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-info {
  padding: 10px 20px;
  text-align: left;
  color: white;
  overflow: hidden;
}

.div-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  font-size: 4rem;
  font-weight: 700;
  transition: transform 0.2s ease-out;
}

.score {
  flex-direction: row;
}

.question {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  cursor: help;
}

.souligne {
  text-decoration: underline;
}

.gras {
  font-weight: 700;
}

.record {
  margin: 10px;
  font-weight: 0;
  font-size: 1.2rem;
}

.card-img-wide {
  display: none;
}

.nb-score-bon {
  color: green;
}
.nb-score-mauvais {
  color: red;
}

.premier,
.deuxieme {
  transform: perspective(1000px) rotateY(0deg) translateX(0);
}

.premier:hover {
  transform: perspective(1000px) rotateY(10deg) translateX(20px);
}

.deuxieme:hover {
  transform: perspective(1000px) rotateY(-10deg) translateX(-20px);
}

.suivantQuestion {
  font-size: 50%;
  color: #f8deff;
  background-color: #340043;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: none;
  margin-top: 10px;
}

.indication {
  font-size: 50%;
  margin-top: 10px;
  display: none;
}

.reload {
  font-size: 100%;
  color: #f8deff;
  background-color: #340043;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 10px;
  margin-right: 20px;
}

.recommencer {
  font-size: 100%;
  color: #f8deff;
  background-color: #340043;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 10px;
  margin-left: 20px;
}
